# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js
node_modules/
package-lock.json

# Python
venv/
__pycache__/

# IDEs
.vscode/

# Logs
*.log

# Build output
/dist/

venv/
# Ignore dataset folder
ml/data/handwriting_dataset/

# Ignore model binary files
ml/models/pytorch_model.bin